body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#membros {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#css

.membro { 
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 8px; 
    width: 150px; }
    
.membro img { 
    width: 100%; 
    border-radius: 50%; }
